body {
    background-color: lightblue;
    color: black;
}

.container > div > input, button {
    color: black;
    width: 250px;
    margin-bottom: 20px;
}

.container > h3 {
    margin-top: 40px;
}

.container > div > table {
    background-color: white;
}
 
button {
    border-radius: 4px; 
}

.container > div > button:hover {
    border-radius: 4px;
    background-color: grey;
    color: white;
}

th {
    width: 75px;
}